body {
    background-color: #f1f0eb;
    font-family: Arial, Helvetica, sans-serif;
}

h1, p {
    color: #58564a;
    ;
}

h2 {
    color: #4056A1;
}

h3 {
    color: #f1c320;
}

h6 {
    color: #f1c320;
}

.logoDiv {
    width: 25%;
}

#logo {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.headerBox {
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}

.titleDiv {
    width: 75%;
    align-self: center;
}

.titleText {
    text-align: end;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.lineDivider {
    border-top: 6px solid #c5cbe3;
}

.featuredBox {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;       
}

.creditText {
    text-align: end;
    margin-top: 4px;
}